<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js' %>

<div class="row">
  <div class="small-6 columns">
    <h3>Playlist</h3>
    <div id="playlist">

      <% @playlist.songs.each do |song| %>
      <div class="song not-playing"><i class="fa fa-play-circle-o"></i>
        <%= link_to song.title , '#', onclick: "playTrack(this.id)", id: song.soundcloud_id, class: 'playlink' %>
      </div>
      <% end %>

    </div>

  </div>

  <div class="small-6 columns">

    <h3>Search</h3>

    <%= form_tag('/search', remote: true , method: "get") do %>
    <%= label_tag(:q, "") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search", class: "button")  %>
    <%= hidden_field_tag :playlist_id, params[:id]%>
    <% end %>

    <ul id="results">

    </ul>
  </div>

</div>
