

<br>
<div class="row">
  <div class="small-6 columns">

    <div class="row master-control">
      <div class="small-6 columns">
        <a href="#" onClick="playFirst()"><i class="fa fa-play"></i></a>
        <a href="#" onClick="stopAll()"><i class="fa fa-stop"></i></a>
        <a href="#" onClick="prevTrack()"><i class="fa fa-backward"></i></a>
        <a href="#" onClick="nextTrack()"><i class="fa fa-forward"></i></a>

      </div>
      <div class="small-6 columns">
    <div id="slider">
    </div>
    </div>
  </div>
    <div id="playlist">

      <% @playlist.songs.each do |song| %>
      <div class="song not-playing"><i class="fa fa-play-circle-o"></i>
        <%= link_to song.title , '#', onclick: "playTrack(this.id)", id: song.soundcloud_id, class: 'playlink' %>
      </div>
      <% end %>
    </div>

  </div>

  <div class="small-6 columns">
    <h2><%= @playlist.name %></h2>
    <h3><%= @playlist.description %></h3>
    <hr>
    <p>Search</p>

    <%= form_tag('/search', remote: true , method: "get") do %>
    <%= label_tag(:q, "") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search", class: "button")  %>
    <%= hidden_field_tag :playlist_id, params[:id]%>
    <% end %>

    <ul id="results">

    </ul>
  </div>

</div>
