<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js' %>


<div class="row">
  <div class="small-6 columns">
<h3>Playlist</h3>
<div id="playlist">
<ul>
  <% @playlist.songs.each do |song| %>
  <li><%= link_to song.title , '#', onclick: "playTrack(this.id)", id: song.soundcloud_id %></li>
  <% end %>
</ul>
</div>
<!-- embed tracks here and make playlist
add relationship between playlist and songs in db and call playlist.songs or something like that -->

</div>

<div class="small-6 columns">

<h3>Search</h3>

<%= form_tag('/search', remote: true , method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
  <%= hidden_field_tag :playlist_id, params[:id] %>
<% end %>

<ul id="results">

</ul>
</div>



</div>
