<!DOCTYPE html>
<html>
<head>
  <title>SoundCloud</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>

  <%= javascript_include_tag '//connect.soundcloud.com/sdk.js' %>
</head>
<body>

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">

      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <%- if current_user -%>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>
  <div class='row header'>
    <h1><a href="/">SC JUKEBOX</a></h1>
    <hr>
    <div class="link-bar ">
    <%= link_to 'home', new_user_registration_path %> /
    <%= link_to 'top playlists', new_user_registration_path %> /
    <%= link_to 'create new list', new_user_registration_path %>
  </div>
    <hr>
  </div>

  <%= yield %>

  <%= javascript_include_tag 'application' %>


  <%= yield :extra_footer %>
</body>
</html>
